ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*----------------- HEADER ----------------------- */

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
  width: 115px;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-logo-web {
  color: #4d5ae5;
}

.header-contacts {
  margin-left: auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-contacts-link {
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-logo:hover,
.header-logo:focus,
.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header-logo:active {
  color: #404bbf;
  text-decoration: underline;
}

/*----------------- MAIN-TITLE ----------------------- */

.main-title {
  background-color: #2e2f42;
}

.main-title-wrapper {
  padding: 188px 0;
  margin: 0 auto;
}

.main-title-text {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.main-title-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}

.main-title-button:hover,
.main-title-button:focus {
  background: #404bbf;
}

/*----------------- SOLUTIONS ----------------------- */

.solutions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 auto 72px;
}

.solutions-list {
  display: flex;
  gap: 24px;
}

.solutions-item {
  width: calc((100% - 72px) / 4);
}

.solutions-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 264px;
  margin-bottom: 8px;
}

.solutions-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}

/*----------------- TEAM ----------------------- */

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  width: calc((100% - 72px) / 4);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.team-item-wrapper {
  padding: 32px 16px;
  margin: 0 auto;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto 8px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 auto;
}

/*----------------- POTRFOLIO ----------------------- */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.portfolio-item-wrapper {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  max-width: 360px;
  padding: 32px 16px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----------------- FOOTER ----------------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-wrapper {
  max-width: 264px;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
  width: 115px;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}

.footer-logo:active {
  color: #404bbf;
  text-decoration: underline;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
